@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

/* 基本色 */
:root {
    --main-color: #5D9AB2;
    --accent-color: #BF6A7A;
    --dark-color: #2B5566;
    --text-bright-color: #fff;
}

/* 基本設定: ページ全体 */
body {
    margin: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}

/* コンテンツA: ヒーローイメージ */
.conA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: ;
    min-height: 450px;
    background-image: url(aday.jpeg);
    background-color: rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    text-align: left;
}

.structured {
    font-size: 30px
}

@media (min-width: 768px) {
}


















